
.title {
    text-align: center;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.body {
    box-sizing: border-box;
}
.game-board {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.option {
   flex-direction: column;
   display: flex;
}
.option button {
    padding: 15px;
    border-radius: 40px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: darkgrey;
    margin: 30px 0 40px 300px;
}
.container{
    display: grid;
    margin: auto;
    margin-right: 450px;
    width: 450px;
    height: 450px;
    border-style: solid;
    border-color: black;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.grid-item {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: thin;
    border-color: rgb(255, 254, 254) ;
    text-align: center;
}

.grid-item:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.2s ease-in-out; 
    cursor: pointer; 
}

